.git
.gitmodules
.env
.env.*
!.env.example

node_modules
**/node_modules
**/dist
**/.pytest_cache
**/pytest-cache-files-*
**/__pycache__
**/*.pyc

front-streambuted
tests
docs

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
